@use "partials";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 10px 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid green;
    
    i {
        font-size: 50px;
        color: green;
    }

    nav > ul {
    @include partials.flexbox() ;
    list-style: none;

        a {
            text-decoration: none;
            color: black;
            font-size: 22px;
            font-weight: bold;
        }
    }
}



section:first-of-type {
    background-image: url('../img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 530px;
    width: auto;
    @include partials.flexbox(column, center, flex-start, 0);
    
    article {
        padding: 50px;
        width: 55%;

        h1 {
            font-size: partials.$hovedoverskrift;
            margin-bottom: partials.$margin-bottom;
        }

        p {
            font-size: partials.$undertittel;
            margin-bottom: partials.$margin-bottom;
        }

        a {
            @include partials.button();
        }
    }
}



